/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Lato:wght@300&family=Montserrat+Subrayada&family=Nunito&family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-decoration: none;
  /* color: #0b7399; */
}
#primary-color {
  color: #23759c;
}
html {
  scroll-behavior: smooth;
}
/* buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  background: #2dc5ff;
  border-radius: 5px;
  color: #fff;
  top: 25%;
  text-decoration: none;
}

.buttons:hover {
  background-color: #4ec1eb;
}

/* Navbar styles */
nav {
  /* display: flex; */
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 2;
  top: 0px;
  background-color: #dff2f6ed;
  justify-content: center;
  text-align: center;
  filter: drop-shadow(0px 0px 2px #adafafc9);
}

nav ul {
  list-style-type: none;
}

.logo-container {
  box-sizing: border-box;
  width: 227px;
  display: block;
  height: 100px;
  position: absolute;
  left: 0;
  /* background: #fff; */
  display: block;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  
  padding: 5px;
}
nav ul li a::after {
  content: "";
  position: relative;
  bottom: 0px;
  left: 0;
  display: block;
  border-radius: 5px;
  width: 10px;
  height: 2px;
  background-color: #0b7399;
}


nav ul li a:hover:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0px;
  left: 0;
  transition: 0.3s;
  width: 65%;
  height: 2px;
  background-color: #05b3f5;
}
nav ul li a:active:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0px;
  left: 0;
  transition: 0.3s;
  width: 65%;
  height: 2px;
  background-color: #05b3f5;
}

/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
 content: '';
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: -15px;
 background: #8ee0ff;
 transform-origin: 0 0;
 transform: skew(-14deg) translateX(-120%);
 transition: all .275s .1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
list-style: none;
padding: 0;
}
.main-nav a {
display: block;
padding: 12px 0;
color: #5A3B5D;
font-size: 1.4em;
text-decoration: none;
font-weight: bold;
}

/* Burger Style */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  width: 60px;
  border: 0;
  height: 35px;
  cursor: pointer;
  display: none;
}
.open-main-nav:focus {
outline: none;
}
.burger {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: #0f425b;
        transition: all .275s;
      }

.burger:after,
.burger:before {
        content: '';
        display: block;
        height: 100%;
        background: #0f425b;
        transition: all .275s;
}


.burger:after {
        transform: translateY(-12px);
      }

.burger:before {
        transform: translateY(-16px);
      }

/* Toggle State part */
.is-open .burger {
        transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
        transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
}

/* MENU Text part */

.burger-text {
display: block;
font-size: .675rem;
letter-spacing: .05em;
margin-top: .5em;
text-transform: uppercase;
font-weight: 500;
text-align: center;
color: #5A3B5D;
}

.device {
position: relative;
width: 345px;
height: 600px;
background: #FFF;
border: 1px solid #EEE;
border-radius: 3px;
box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  z-index: 2;
  left: 0;
  overflow: hidden;
  width: 100%;
  display: block;
  
}


#logo {
  content: url(wego.png);
  height: 45px;
  width: 145px;
  top: 10%;
  position: relative;
}

#logo:hover {
  content: url(wegowhite.png);
  height: 45px;
  width: 170px;
  top: 15%;
  left: 36px;
}
/* main body syle */
main {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

main ul {
  list-style-type: none;
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

#links-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 40%;
}

#links-container li {
  margin-right: 55px;
}

#links-container li a {
  text-decoration: none;
  color: #0b7399;
  padding: 0px 5px;
  display: flex;
  font-family: "Nunito", sans-serif;
  transition: 0.2s;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

#links-container li a:hover {
  color: #00b9ff;
}

#nav-button {
  right: 60px;
  top: 20%;
  width: 160px;
  position: absolute;
}

/* Body styles */
/* hero text and image */
#hero-text {
  width: 40rem;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Brawler", serif;
  font-weight: 800;
  margin: auto;
  font-size: 4em;
  position: absolute;
  text-align: center;
  top: 110px;
  letter-spacing: 10px;
  color: #ffffff;
  mix-blend-mode: normal;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
}

#front {
  width: 100%;
  height: 700px;
}

/* web features */
.features {
  position: relative;
  width: 80%;
  bottom: 130px;
  background-color: #dff2f6e3;
}

#airline {
  width: 75%;
  height: 65px;
  margin: 30px 0px 0px 40px;
  padding: 0 40px 0 0;
}

/* booking forms style */

.form-wrap {
  margin-top: 5em;
  font-family: monospace;
  color: #858585;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  margin: 5em auto 0 auto;
  width: 60%;
  background: #f9faffde !important;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
}

/* flight type and info */
.outer-form {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  /* padding: 0 0px 0 3px; */
  border-radius: 6px;
  background: #ffffff;
  flex-wrap: wrap;
}

/* remove the background color for outer-form for media screen */

.outer-form select {
  border: none;
  background: none;
  height: 45px;
  width: 49%;
  color: #00000059;
  border-color: #9ae2fd;
  min-width: 120px;
  border-bottom-style: inset;
  padding: 0 0 0 10px;
  margin: 0px 5px 5px 0;
}

/* flight search */
#section-form {
  overflow: hidden;
  position: relative;
  width: 65%;
}

.second-section {
  padding: 0px 5px 0px 5px;
}

.second-section::before {
  /* content: ""; */
  position: relative;
  border-bottom-style: dotted;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 90%;
  border-width: thin;
}

/* inner form style */
.inner-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0px 0 10px;
  align-items: center;
}
.form-division {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 4px 10px 4px;
}
.inner-form select {
  height: 45px;
  border-width: 1.6px;
  border-style: solid;
  border-color: #9ee3ff;
  border-image: initial;
  border-radius: 8px;
  color: #00000073;
  width: 100%;
}

.inner-form input {
  height: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: #9ee3ff;
  border-image: initial;
  width: 100%;
  border-radius: 6px;
  color: #00000069;
}

/* swap button style */
.button-swap {
  width: 35px;
  position: relative;
  height: 35px;
  transition: 0.5s;
  border-radius: 100%;
}
.fa-rotate {
  transition: 0.18s;
}
.button-swap:hover .fa-rotate {
  transform: rotate(180deg);
}

.button-form {
  margin: 10px auto;
  transform: scale(1.2);
}

/* Add on text */
.add-ons {
  display: flex;
  width: 100%;
  padding: 65px 0 65px 0;
  border-color: #82dbfc;
  border-style: dashed;
  border-left: none;
  border-right: none;
  align-items: center;
}
.add-on-image {
  width: 65%;
}
.add-on-text {
  width: 50%;
  margin: 0 30px;
  font-size: 1em;
  text-align: start;
}
#add-on-text{
  color: #0000008c;
  display: flex;
}
#add-on-text span{
  margin: 5px;
  
}
.add-on-image img {
  width: 40%;
  position: relative;
  margin: -24px;
  transition: 0.7s;
}
.add-on-image img:hover {
  z-index: 1;
  transform: scale(1.1);
}
/* why us */
.why-us-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0;
  padding: 40px 0;
  color: #000 !important;
  background: linear-gradient(135deg,#307ea3 10%,#beefff);
  align-items: center;
  justify-content: center;
}
.why-us {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#why-us-icon {
  width: 35%;
  transition: 0.5s;
}
#why-us-icon:hover {
  transform: scale(1.07);
}

.why {
  max-width: 12rem;
  margin: 15px;
  font-size: 80%;
  color: #3270ae;
  display: flex;
  padding: 35px;
  background: #d2f3ff;
  /* background: #94b1bb; */
  transform-style: preserve-3d;
  letter-spacing: 1px;
  border: 1.3px solid #abdff1;
  transition: 0.6s;
  border-radius: 4px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93/0), 0 8px 16px -8px rgb(0 0 0/30%);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* packages sections  */
.packages {
  position: relative;
  border-radius: 20px;
  color: #897f81;
  border-top-color: #64d4fd;
}


.package-text {
  font-weight: 200;
  margin: 0 0 60px 0;
  font-size: 1.2em;
  line-height: 3rem;
  top: 15px;
  position: inherit;
  color: #3270ae;
}
.package-text::after {
  content: "";
  position: absolute;
  /* left: 50%; */
  /* bottom: -20px; */
  width: 70%;
  margin: 10px 0;
  border-radius: 300px;
  height: 3px;
  background-color: #49cdff;
  transform: translateX(-50%);
}

.package-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.display-main::after {
  content: "";
  position: relative;
  left: 50%;
  display: flex;
  bottom: 5px;
  margin: 10px 0;
  width: 35%;
  border-radius: 300px;
  height: 3px;
  background-color: #49cdff;
  transform: translateX(-50%);
}
.display {
  max-width: 15rem;
  margin: 15px;
  font-size: 1em;
  color: #3270ae;
  min-height: 30rem;
  padding: 20px;
  background: #d2f3ff;
  /* background: #94b1bb; */
  transform-style: preserve-3d;
  letter-spacing: 1px;
  border: 1.3px solid #abdff1;
  transition: 0.6s;
  border-radius: 4px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93/0), 0 8px 16px -8px rgb(0 0 0/30%);
}
#package-button {
  position: relative;
  margin: 45px auto;
  bottom: 20px;
  font-size: 1.1rem;
  width: 160px;
  font-weight: 600;
}

.display-wrap:hover .display {
  transform: scale(1.06) rotateY(180deg);
  transition: 0.5s;
}

.display-main {
  backface-visibility: hidden;
  text-decoration-thickness: from-font;
  font-weight: hidden;
  position: inherit;
}

.display-main-front {
  display: block;
  backface-visibility: hidden;
  height: 0px;
}

.display:hover .display-main-front {
  backface-visibility: hidden;
}

.display-main-back {
  transform: rotateY(180deg);
  position: relative;
  top: 12rem;
  backface-visibility: hidden;
}

.display:hover .display-main-back {
  visibility: visible;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* gallery  style here */
.gallery-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gallery-wrap h1 {
  font-size: 45px;
  letter-spacing: 2px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.image {
  width: 48%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 30px auto;
}

.image {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}

.our-patners {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 25px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.our-patners h1 {
  color: #c03342;
}

.patners-wrap {
  display: flex;
  max-width: 40rem;
  align-items: center;
  margin: 40px 0;
  width: 100%;
  flex-direction: column;
}
.patners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.patners img {
  width: 15%;
  margin: 5px 25px;
}
.before-footer{

width: 100%;

z-index: 0;
}
.before-footer img{
  width: 100%;
  object-fit: cover;
  position: relative;
  max-height: 285px;
  margin: -5px;
}
.upper-section {
  background-color: #023e5b;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
}
.space{
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 25px;
  width: 55%;
  margin: 0 30px;
  justify-content: space-between;
}
.link-list-wrap input[type="text"]{
  height: 35px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  color: #d9d9d9;
  background: #fff;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: none;
}
.subscribe{
  display: flex;
  flex-direction: column;
}
.button-submit{
  display: flex;
  width: 80px;
  height: 35px;
  margin: 12px 0;
}
.footer-float-shadow {
  background-color: #06060657;
  width: 460px;
  right: 33px;
  position: absolute;
  height: 70px;
  transform: translateY(30px);
  filter: blur(31px);
  clip-path: polygon(5% 0, 100% 1%, 100% 100%, 0 99%);
}
.footer-float {
  background-color: #224485;
  width: 460px;
  display: flex;
  position: absolute;
  text-align: center;
  right: 25px;
  height: 110px;
  clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0 99%);
  align-items: center;
  justify-content: center;
  transform: translateY(35px);
}

.logo-footer {
  left: 40px;
}

.footer-float-shadow-down {
  background-color: #001f69;
  width: 100px;
  right: 410px;
  transform: translateY(76px);
  position: absolute;
  height: 25px;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 23% 100%);
}

.lower-section {
  display: flex;
  color: #3270ae;
  letter-spacing: 1px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}
.footer-element-wrap {
  width: 59%;
  display: flex;

  margin: 60px 0;
  flex-wrap: nowrap;
  justify-content: center;
}


.contacts-wrap {
  display: flex;
  flex-direction: column;
  width: 16rem;
}
.icons-wrap {
  margin: 30px 0 0 0;
  display: flex;
  z-index: 1;
  align-items: center;
}
.links-wrap {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#after::after{
  content: "";
  position: relative;
  display: block;
  bottom: 0px;
  margin: 2px 0 0 0;
  left: 0;
  transition: 0.3s;
  width: 50px;
  height: 2px;
  background-color: #05b3f5;
}

.link-list-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.link-list-wrap li {
  margin: 10px 0;
  color: #1c97c5;
}
.link-list-wrap li a{
  color: #429ec8;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  list-style: none;
}

.mobile-media{
  display: none;
}
.mobile-media .fa-brands{
  margin-right: 10px;
}
.topic{
  margin: 15px 0;
}
.topic h1::after{
  content: "";
  position: relative;
  display: block;
  bottom: 0px;
  margin: 2px 0 0 0;
  left: 0;
  transition: 0.3s;
  width: 50px;
  height: 2px;
  background-color: #05b3f5;
}
#map-wrap {
  background-color: #929292;
  width: 40%;

}
.map{
  width: 100%;
}
.corner-shape {
  position: absolute;
  height: 125px;
  width: 125px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #224485;
  transform: translateY(-120px);
}


.fa-brands {
  width: 10px;
  height: 10px;
  transition: .2s;
  margin: 0 35px 0px 0;

}

.fa-brands:hover{
  transform: translateY(-8px);
}

.copyright{
  position: absolute;
  transform: translate(-70px, -30px);
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #0d3b51;
  font-size: 15px;
  font-weight: 100;
  font-style: none;
}


/* Media query  */

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  body {
    background-color: #dddddd;
    color: #ffffff;
  }
  #front{
   height: 400px; 
  }
  #hero-text{
    width: 50%;
    font-size: 1.5rem;
  }
  .space .icons-wrap{
    display: none;

   }
   .links-wrap{
    justify-content: flex-start;
  }
  .space{
    font-size: 1.3em;
  
  }
  .mobile-media{
    display: block;
  }
  .packages{
    transform: scale(0.8);
  }
  .space{
    font-size: 1.6em;
   
  }
  .space h1{
    font-size: 1em !important; 
  
  }
  
  .space .icons-wrap{
    display: none;
   }
   .footer-float{
    transition: .6s;
    background-color: #ffffff00;
    justify-content: flex-end;
    transform: translate(-40px,30px);
  }
   .links-wrap{
    justify-content: flex-start;
  }
  .mobile-media{
    display: block;
  }

 

  .add-ons{
    align-items: flex-start;
    flex-direction: column;
  }

    .add-on-image{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 40px 0;
  }
  .add-on-text{
    font-size: 15px;
    width: 90%;
  }
  .add-on-image img{
    width: 100%;
  }
  #map-wrap
{
  width: 100%;

}
}



/* Media query for screens between 600px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  body {
   
    color: #222222;
  }
  #front{
    height: 550px;
  }
  #hero-text{
    width: 500px;
    font-size: 3rem;
  }
   .space .icons-wrap{
    display: none;
   }
   .links-wrap{
    justify-content: flex-start;
  }
  .space{
    font-size: 1.3em;
  
  }
  .container{
    display: block;
  }
  .mobile-media{
    display: block;
  }
  .packages{
    transform: scale(0.8);
  }
  #map-wrap {
    background-color: #929292;
    width: 100%;
  }
  .container{
    display: block;
  }
    .add-on-image{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .add-on-text{
  font-size: 15px;
  }
  }

/* Media query for screens larger than 900px */
@media (min-width: 901px) {
 

}

@media (min-width: 601px) and (max-width: 1150px){
  .footer-float{
    transition: .6s;
    background-color: #000;
    justify-content: flex-end;
    transform: inherit;
  }
  .add-on-image{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .add-on-image img{
    width: 100%;

  }
  .container{
    display: block;
  }
}
@media (max-width: 1150px){
  
  #links-container{
    display: none;
  }
  #nav-button {
    display: none;
  }
  .outer-form{
    background:none;
    justify-content: center;
  }
  .outer-form select{
    width:100%
  }
.footer-float-shadow-down, .footer-float-shadow{
  display: none;
}

.space{
 
  width: 69%;
}
.footer-element-wrap{
  width: 80%;
}
.lower-section{
  justify-content: center;
}

.open-main-nav{
  display: flex;
  align-items: center;
}
#map-wrap{
  width: 100%;
}
}